.main {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

.cardLayout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5% 20% 0 20%;
  > div {
    flex: 1
  }
}